<h1>Reservation Details: </h1>

<ul>
  <li>Name: <%=@cat_rental_request.cat.name  %></li>
  <li>Start Date: <%=@cat_rental_request.start_date  %> </li>
  <li>End Date: <%= @cat_rental_request.end_date %> </li>
  <li>Status: <%= @cat_rental_request.status %> </li>
</ul>